<?xml version="1.0"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
						   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
						   http://www.springframework.org/schema/aop
        				   http://www.springframework.org/schema/aop/spring-aop-4.1.xsd
        				   http://www.springframework.org/schema/tx
                            http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">
 
 
 
 
 <bean class="org.springframework.orm.jpa.support.PersistenceAnnotationBeanPostProcessor"/>
    <bean class="org.springframework.dao.annotation.PersistenceExceptionTranslationPostProcessor"/>
 
 
<bean id="modelo" class="modelo.modelo.ModeloSpringJpa">
 <property name="usuarios"  >
 <ref local="usuarioDAO"/>
 </property>
 <property name="solicitudes"  >
 <ref local="solicitudDAO"/>
 </property>
  <property name="servidores"  >
 <ref local="servidorDAO"/>
 </property>
</bean>

<bean id="usuarioDAO" class="modelo.Dao.UsuarioDAOSpringJpa">
</bean>

<bean id="solicitudDAO" class="modelo.Dao.SolicitudDAOSpringJpa">
 
</bean>
<bean id="servidorDAO" class="modelo.Dao.ServidorDAOSpringJpa">
 
</bean>


<bean id="entityManagerFactory" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
		<property name="dataSource" ref="dataSource"></property>
	    <property name="packagesToScan" value="dominio"/>
		<property name="jpaVendorAdapter" ref="jpaVendorAdapter"></property>
	</bean>
	
	<tx:annotation-driven transaction-manager="transactionManager" proxy-target-class="true"/>
	<bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
		<property name="entityManagerFactory" ref="entityManagerFactory"/>
	</bean>
	<bean id="jpaVendorAdapter" class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter">
	 	<property name="database" value="MYSQL"/>		
		<property name="databasePlatform" value="org.hibernate.dialect.MySQLDialect" />
	</bean>
	
	<bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
 <property name="driverClassName" value="com.mysql.jdbc.Driver" />
 <property name="url" value="jdbc:mysql://localhost:3306/serivdoresdb?allowPublicKeyRetrieval=true&amp;useSSL=false" />
 <property name="username" value="root" />
 <property name="password" value="48730209V" />
</bean>
	
	
	
	
</beans>